header{
    background-color: $bgheader;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    position: fixed;
    .titulo-decoration{
       text-decoration: none;
       color: $colortitulo;
       font-size: $letratitulo;
       animation-duration: 4s;
       animation-name: titulo-decoration;
    }
    @keyframes titulo-decoration{
        0% {
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .navbar{
         overflow: hidden;
         background-color: $colortitulo;
         font-family: Arial, Helvetica, sans-serif;
         width: 95%;
         border-bottom: grey;
         border-style:double;
         li a :hover{
            transition: all 0.2s;
            background-color: $bgheader;
            display: inline-block;
         }
        }
    .container{
        width: 100%;
        padding: 0%;
        margin: 0%;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }
}