.main{
    width: 95%;
    height: 100%;
    padding-top: 12%;
    padding-bottom: 2%;
    margin: 0.5%;
    align-items:center;
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    text-align: center;
    justify-content: center;
}

.texto2{
    @extend .texto1;
}

.texto3{
    @extend .texto1;
}

.texto4{
    @extend .texto1;
}

.footer{
    background-color: $bgheader;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3%;
    color: $colortitulo;
    text-align: center;
}

@mixin redes($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.facebook{
    @include redes(100px, 100px);
}

.instagram{
    @include redes(100px, 100px);
}