.mainServicios{
    width: 95%;
    height: 100%;
    padding-top: 12%;
    margin: 0.5%;
    justify-content: center;
    align-items:center;
    text-align: center;
    text-decoration: none;
}

.card-body :hover{
transition: all 0.2s;
background-color: $bgheader;
}

.parrafo{
    font-style: italic;
}
.footerServicios{
    background-color: $bgheader;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $colortitulo;
    text-align: center;
}

@mixin redes($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.facebook{
    @include redes(100px, 100px);
}

.instagram{
    @include redes(100px, 100px);
}