$colortitulo: #ffffff;
$letratitulo: 1.5rem;
$bgheader: #778899;

@import "index";
@import "servicios";
@import "contacto";
@import "presupuesto";
@import "servicios";
@import "galeria";
@import "header";